<h1>Hi! Please confirm your email!</h1>

<p>
    Proszę potwierdź Twój adres email klikając w nastepujący link: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź email</a>.
    Ten link wygaśnie: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Pozdrowienia z ToDo App :)
</p>
