{% extends 'base.html.twig' %}

{% block body %}


    <div class="d-flex flex-column flex-fill align-items-stretch flex-shrink-0 overflow-auto" style="background: #f2f5f7;">

        <div class="mx-auto" style=" width: 100%; max-width: 850px;">
            <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">Nowe zadanie</span>
            </p>

            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>


    </div>

    <script>
        document.getElementById('task_back').addEventListener('click', function() {
            window.location.href = '{{ path('app_task_show_list') }}'
        });
    </script>

{% endblock %}

{% block title %}

{% endblock %}

