{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 680px; border: 1px solid red; padding: 20px;">

        <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Podgląd zadania ID: {{ id }}</span>
        </p>

    </div>

{% endblock %}

