
body {
	height: 100%;
	background: #fff;
}

.action_ico {
	height: 18px;
	width: 18px;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

//.form-signin { background: url(../../images/ico_action.svg); }

