
.dropdown-toggle { outline: 0; }

#left_menu {
	background: #132236;
	width: 280px;
	color: #9ea9b4;

	button,
	a {
		color: #9ea9b4;

		&:hover,
		&:focus,
		&.active{
			color: #00bac7 !important;
		}
	}
}

.btn-toggle-nav {
	button,
	a {
		padding: .1875rem .5rem;
		margin-top: .125rem;
		margin-left: 1.25rem;
		color: #9ea9b4 !important;

		&:hover,
		&:focus {
			background-color: #1b3447;
		}
	}
}

/* moj wlasny link :) */
.special-link {
	color: #00bac7;

	.active {
		background: #1b3447;
	}

	&:hover {
		color: #458ef7;
	}
}







.scrollarea {
	overflow-y: auto;
}



