{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    {{ parent() }}


    <div class="example-wrapper">
        <h1>Dział kontakt ✅</h1>

        {{ form(form) }}

    </div>

{% endblock %}
