{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Totolotek{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="w-100 h-100 d-flex" style="background: #162234;">

        <div class="blank-page m-auto">

            <div class="card p-3 shadow">
                <p class="mb-3">Wylosowano liczbę: <strong>{{ number }}</strong></p>

            </div>


        </div>

    </div>

{% endblock %}



