{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 - Strona nie znaleziona</h1>

    <p>
        Nie można zlokalizować żądanej strony. Sprawdź, czy w adresie URL nie ma błędów ortograficznych lub
        <a href="{{ path('homepage') }}">Wróć do strony głównej</a>.
    </p>
{% endblock %}